[2019-09-27 08:36] olevabel opened #7 "xcparse -s Illegal instruction: 4"
Hi,

When using the xcparse I am facing an issue. I navigate to the directory where .xcresult is at and call xcparse -s MY_PROJECT.xcresult ./screens, having previously created an empty screens dictionary in the root.
The xcparse command is returning: Illegal instruction: 4

[2019-09-27 20:40] selin194 commented on #7
Hey @olevabel ! I execute the command `xcparse -s output.xcresult ./screens` I get some screenshots. How do you get .xcresult file?
I execute the command here :
 `xcodebuild -workspace myApp.xcworkspace -scheme "UITests" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 8 Plus,OS=13.0' test -resultBundlePath output.xcresult`
Thank you.

[2019-09-27 20:46] abotkin-cpi commented on #7
Thanks for the report @olevabel!  Could you check add the following information?

Xcode version: (Ex. "11.0 (11A420a)")
Swift version: (Run "swift -version" from Terminal)

If you open up Console app and then run the command from Terminal, there may be a log from ReportCrash along the lines of "Saved crash report for xcparse" & a crash file path in DiagnosticReports.  If so, please grab that crash

[2019-09-27 21:02] abotkin-cpi commented on #7
@olevabel  One other thing, could you check that you're using an Xcode 11 XCResult and not an Xcode 10 XCResult?  You can check this by finding the xcresult in Finder, right-clicking (CTRL+click) and choosing "Show Package Contents".  If it's an Xcode 11 XCResult, you'll see a Data folder which will have a bunch of weird looking files.  If it's an Xcode 10 XCResult, you'll see a folder structure w

[2019-09-27 21:07] abotkin-cpi opened #8 "xcparse should support extraction from Xcode 10 xcresult"
Prior to Xcode 11, the xcresult format had a different folder structure that didn't require xcresulttool.  xcparse currently only supports Xcode 11 and higher xcresults as that's where our immediate need was during the summer with our CI system since we had a separate bash script to deal with Xcode 10 xcresults.

As more user use xcparse outside of ChargePoint, we should go ahead and bring into xc

[2019-09-27 21:12] abotkin-cpi opened #9 "xcparse shouldn't crash on Xcode 10 xcresults"
It is not unreasonable for xcparse users to call the tool with xcresult files which they don't know what Xcode built them.  Right now, if you attempt to do so with xcparse v0.1, you'll get this lovely crash as xcparse attempts to do xcresulttool and doesn't do any version checking before attempting it's own parsing. #7

[code]

The immediate need is to have xcparse do some sort of version checking

[2019-10-01 15:37] NikitaZamalyutdinov commented on #7
Hey, it's was reproduced for me too:
I ran `xcparse -s TestResults.xcresult screenshots/` and get error
[code]

[2019-10-01 19:16] abotkin-cpi commented on #7
Thanks for the report @NikitaZamalyutdinov.  Yeah, this seems like the strict parsing we're doing where the formatDescription says a value is non-optional & assuming that it means the key will be in the file is not the right assumption.  It comes up much more with the Xcode 10 xcresults as the bare minimum structure seems to be added by xcresulttool to get going, but a bunch of non-optional keys a

[2019-10-01 22:02] maksim-sushkevich commented on #7
Hey there!

I have faced the issue below:

When I run **xcparse -s TestResults2.xcresult ./screenshots**
I always get the error:
**error: unexpected argument case; use --help to list available arguments**

The same error I get in interactive mode as well.

XCode Version 11.0 (11A420a)
Apple Swift version 5.1 (swiftlang-1100.0.270.13 clang-1100.0.33.7)

Thank you!

[2019-10-01 23:18] abotkin-cpi commented on #7
@maksim-sushkevich Thanks for the report!  Hmm, that error seems to be coming from xcresulttool & sounds like we're not parsing your screenshots right (the argument case in this case isn't the arguments to xcparse, but what we're providing to "xcrun xcresulttool" in order to get out your screenshots).

Could you make a new issue report?  I've got a suspicion on what it could be - I'm pretty sure o

[2019-10-02 16:27] vince4 opened #10 "xcparse doesn't support space in file names & paths"
Hi,

I'm trying to use xcparse to extract screenshots from xcresult.
It works fine when xcresult has no space in its name, but when it's not the case, xcparse return an error :

**My command**
[code]
**Result**
[code]

[2019-10-02 18:29] abotkin-cpi commented on #10
Thanks for the report @vince4!  Yep, this seems like a failure in xcparse to properly pass the path in a way that supports spaces to xcresulttool.  I'll be addressing this in v0.2.

[2019-10-02 20:49] #10 closed

[2019-10-02 21:06] abotkin-cpi commented on #10
@vince4 Run`brew upgrade xcparse` on machines that already have xcparse installed in order to update to v0.1.1 that includes the fix for this.  If xcparse is not installed, run the normal install command `brew install chargepoint/xcparse/xcparse`

[2019-10-03 09:06] vince4 commented on #10
Thank you @abotkin-cpi !
I just tested and I don't have this error any more.

Now I have an other error : `Illegal instruction: 4` but it's an other issue.
xcparse does'nt seems to work with `Test-Transient Testing` xcresult folders.
I'm generating those xcresults using command :
[code]

Maybe I have made some mistakes.

[2019-10-03 16:35] abotkin-cpi commented on #10
No, you’re not doing anything wrong.  The way we parse right now is very error prone and overly strict right now.  I’m working on a change to fix the Illegal Instruction issue.  Was hoping to get it in by Friday but may be closer to Monday.  Will update this ticket once it is in.

[2019-10-04 22:23] #7 closed

[2019-10-04 22:45] abotkin-cpi commented on #8
This should be addressed in 0.3

[2019-10-04 22:45] #8 closed

[2019-10-04 22:46] abotkin-cpi commented on #9
This should be addressed in 0.3

[2019-10-04 22:46] #9 closed

[2019-10-04 22:47] abotkin-cpi commented on #7
@olevabel @NikitaZamalyutdinov @maksim-sushkevich Changes were integrated in 0.3 that should resolve the majority of these cases.  Run `brew upgrade xcparse` to get that version.  If you see this again, let me know!

[2019-10-04 22:48] abotkin-cpi commented on #10
@vince4 Changes were integrated in 0.3 that should resolve the Illegal Instruction issue you saw.  Run `brew upgrade xcparse` to get that version.  If you see it, let me know!

[2019-10-05 00:15] abotkin-cpi opened #15 "Add support for exporting logs"
Might be nice for some folks to offer the log extraction via xcparse.  Looks like someone is doing the jq gymnastics we did for code coverage before xcparse

https://stackoverflow.com/questions/58176544/how-do-i-collect-the-stdout-and-std-error-from-the-xcresult-bundle-generated-by/58176545#58176545

[2019-10-07 16:35] NikitaZamalyutdinov commented on #7
Still reproduced for me. I'm going to debug that issue a few days later.

[2019-10-07 18:52] abotkin-cpi commented on #7
@NikitaZamalyutdinov If you can upload the crash log, I can also take a look.  You can get it by going to Console app on macOS.  Also double-check that brew successfully updated by running "brew info xcparse" and that you see a line about "/usr/local/Cellar/xcparse/0.3".  One of our devs had Homebrew "upgrade" but it only upgraded the formula in the local repo due to a permission failure & didn't

[2019-10-08 12:06] NikitaZamalyutdinov commented on #7
@abotkin-cpi

[xcparse_2019-10-07-193321_admins-Mac-mini..crash.txt](https://github.com/ChargePoint/xcparse/files/3702246/xcparse_2019-10-07-193321_admins-Mac-mini.crash.txt)

[2019-10-08 18:23] abotkin-cpi commented on #7
@NikitaZamalyutdinov Thanks for the crash report!  That stack trace indicates something that should've been fixed with 0.3 by the addition of a Double specific method in XCResultDecoding.swift:264.

I do notice that xcparse in the crash report has a path that is not the usual Homebrew install location.  Specifically, your crash report is saying xcparse is in "/usr/local/bin/xcparse" rather than "/

[2019-10-08 19:25] kenji21 commented on #7
reproduced this issue with current master 03b9ca9:

A test in https://github.com/openium/SwiftiumTestingKit just add an attachment, so run them with:

`xcodebuild test -scheme STKTestApp -destination "name=iPhone 8 Plus" -resultBundlePath TestResults.xcresult`

And then run:

`~/github/xcparse/.build/debug/xcparse --screenshots TestResults.xcresult screenshots`

which leads to this error:

[code]

[2019-10-08 19:43] abotkin-cpi commented on #7
@kenji21 Thanks for the report!  Yep, 0.3 wouldn’t cover the array keys being empty for non optional properties (0.3 only covers types like bool, double, string, int).  Should have a build that corrects that in the next day.  We should open a separate ticket for that.

[2019-10-08 19:53] abotkin-cpi opened #16 "[BUG] keyNotFound ActionTestSummaryGroupCodingKeys subtests"
Original report: https://github.com/ChargePoint/xcparse/issues/7#issuecomment-539664899

Reproduced this issue with current master 03b9ca9:

A test in https://github.com/openium/SwiftiumTestingKit just add an attachment, so run them with:

`xcodebuild test -scheme STKTestApp -destination "name=iPhone 8 Plus" -resultBundlePath TestResults.xcresult`

And then run:

`~/github/xcparse/.build/debug/xcp

[2019-10-08 20:04] abotkin-cpi commented on #16
Explanation for those curious - we're using Swift decoding & have used some strict decoding options in places where keys are declared non-optional in xcresulttool formatDescription.  As part of fixing #7 in 0.3, we added the ability to handle non-optional properties in the XCResult objects being missing in the JSON output of xcresulttool, but we only did this for primitive types like bool, string,

[2019-10-09 00:09] #16 closed

[2019-10-09 00:23] abotkin-cpi commented on #7
@kenji21 xcparse 0.3.1 is now out on Homebrew & should correct the issue you were seeing with the non-optional arrays.  Upgrade using `brew upgrade xcparse`

[2019-10-09 06:14] abotkin-cpi commented on #15
The logs mentioned here are actually ActivityLogSection objects and you don't get the same clean log output as if you opened the XCResult and did export on the relevant step.  If we want that, we'll need to add our own nice pretty print of ActivityLogSection to disk

Also, we're missing a couple of classes like ActivityLogCommandInvocationSection.  Not sure if they were somehow missed or Apple add

[2019-10-09 06:33] kenji21 commented on #7
also works when running on multiple simulators via `xcodebuild test -scheme STKTestApp -destination "name=iPhone 8 Plus" -destination "name=iPhone XS Max" -resultBundlePath TestResults.xcresult`

[2019-10-09 10:12] NikitaZamalyutdinov commented on #7
`xcparse -s TestResults.xcresult/ screenshots/`
I've upgraded xcparse onto 0.3.1, actual version doesn't crash, but doesn't extract any screenshot from 'xcresult'. I've opened 'xcresult' by double-clicking in Xcode and get access to all screenshots.

[2019-10-09 20:18] abotkin-cpi commented on #7
@NikitaZamalyutdinov Interesting - seems we must be missing something in our parsing.  Can you create a new issue & attach any information you can provide about the XCResult (do you use test run configurations yet or not, was this invoked with multiple run configurations, how many tests there are, etc.).  I'll put up a branch that will allow for verbose logging that you could possibly use to help

[2019-10-09 22:16] abotkin-cpi commented on #7
Think I've figured out the issue that's affecting @NikitaZamalyutdinov & @kenji21 with missing screenshots.  Should have a fix posted tonight.

[2019-10-09 22:32] abotkin-cpi opened #19 "Not all screenshots exported on some xcresults on v0.3.1"
Some screenshots are not getting exported out from the XCResult.  This appears to be due to a logical fallacy in XCPParser.swift:96 in the tests array fill.  A test summary group could have an empty subtests array & prevent parsing the rest of the summary groups.  Should really just use a flatMap on summaryGroups.

[2019-10-09 23:27] #19 closed

[2019-10-10 06:27] kenji21 commented on #7
tested with a project converted to xctestplan having two configurations (languages fr & en), runned on two simulators (XS Max, 8 Plus), and had all "4 screenshots" ✅

[2019-10-10 11:17] ntsh opened #21 "Group screenshots per device/destination"
Hi there!

Thank you for the project. I found this project useful for exporting screenshots with different device sizes for app store submission.

Currently, the screenshots are exported all in the same directory with a flat structure.
It would be nice to group them into different folders with the destination name.

Eg:

[code]

The exported screenshots directory structure should be:

[code]

What

[2019-10-10 15:59] abotkin-cpi commented on #21
@ntsh Agreed, this would be a good enhancement.  We’re also pulling screenshots and attachments from all the test failures as well which I know some folks would prefer not to get.

[2019-10-14 17:37] #15 closed

[2019-10-16 00:23] abotkin-cpi commented on #21
@ntsh This should be resolved in xcparse 0.5.  Upgrade using `brew upgrade xcparse`.  We've added new options to the screenshots sub-command where you can specify if you want division by model, OS version, and/or test run configuration.

For your use case, you can use:

`xcparse screenshots --model Test.xcresult screenshotFolder`

The recommended use we suggest is this:

`xcparse screenshots --mod

[2019-10-16 00:24] #21 closed

[2019-10-25 15:57] brandtdaniels opened #29 "Bitrise Steps"
I would love to see some Bitrise steps using StepLib for this

[2019-11-08 16:21] vince4 commented on #10
Hi @abotkin-cpi, thank you for the update. I have been away for a while and I just tried the version 1.0.0.
Great improvements !

So I retried to run `xcparse` on `xcresult` from command : `xcodebuild -xctestrun Scheme_Project_iphonesimulator13.0-x86_64.xctestrun test-without-building` and it works so great !!!!

However I found a new issue for iPhone Xr, but it seems to come from the `xcrun xcres

[2019-11-08 16:30] vince4 opened #30 "[BUG] xcparse doesn't export screenshots for iPhone Xʀ on Xcode 11.1 or below"
**Describe the bug**
xcparse does'nt export screenshots for iPhone Xʀ. It works well for iPhone Xs but when I run `xcparse screenshots --model --test-run ./Test-MyProject-2019.11.08_17-11-35-+0100.xcresult/ ./screen/`, iPhone Xʀ folder contains empty test configurations folders.

**Desktop (please complete the following information):**
 - OS: Mac OS X 10.15 19A603
 - xcparse Version: 1.0.0
 - Swif

[2019-11-08 16:36] vince4 commented on #30
When I use verbose option on `xcparse`, I see the following command : `xcrun xcresulttool export --type file --path /DerivedData/Logs/Test/Test-Transient Testing-2019.11.08_16-52-36-+0100.xcresult' --id 0~n-MS9eN9nOCJMxay0ex48vTab1XSzE5b77M-ZFJuaYpNBx4POYI_zYh0_VXO03gVSn4nFryH4BZbspKbEKXpHQ== --output-path /DerivedData/Logs/Test/screen/iPhone Xʀ/French/Screenshot of main screen (ID 1)_1_622A7AE2-9

[2019-11-08 18:06] abotkin-cpi commented on #30
Thanks for all the details @vince4!  I’ll take a look at this today.

[2019-11-08 21:39] abotkin-cpi commented on #30
@vince4 Yep, like you confirmed, this is a crashing issue in xcresulttool in Xcode 11.1 (likely exists in Xcode 11.0 as well but haven't had time to test).

**Solution**

It appears that this crash in xcresulttool has been resolved by Apple in Xcode 11.2.1 with xcresulttool version 15500.  You can check your xcresulttool version with `xcrun xcresulttool version`.  Running Xcode 11.2.1 (11B53) with

[2019-11-11 20:08] abotkin-cpi commented on #30
@vince4 A workaround has been implemented in xcparse 1.0.1 to address this issue with Xcode 11.1 and below.  Let me know if you see any issues with it.  Thanks so much for all the details you put in here; made it a snap!

[2019-11-11 20:08] #30 closed

[2019-11-12 15:16] vince4 commented on #30
Thank you @abotkin-cpi for the fix.
I tried with version 1.0.1 and Xcode 11.0 and I get your warning message 👍

Then I installed Xcode 11.2 (without iPhone Xʀ) and it works well.

[2019-11-13 23:12] Blackjacx opened #32 "[Question] Force Simulator to Dark Mode"
Hey there,

first of all thank you for this awesome tool! I read your Blog post about xcparse and saw a bitrise step that forces the simulator to dark mode. I wanted to ask if you could share how this works since this would be a nice addition for us too :-)

(you can of course remove the bug label :-/ )

[2019-11-14 00:19] abotkin-cpi commented on #32
So right now, we're cheating to do it.  We use Bitrise for our CI & just have a script step before running xcodebuild where we check an environment variable we set for the test run that contains either "Dark" or "Light" & modify the Info.plist of the app like so:

[code]

Back in the early Xcode 11 betas, we were using a launch argument in our test plan run configuration & then on launch of the ap

[2019-11-14 00:33] abotkin-cpi commented on #32
@Blackjacx Let me know if this provides enough help.  If so, feel free to close this ticket out.  If there's something you think would be interesting to know more about, let me know & maybe we can get a blog post written up about the topic & how we do it.

[2019-11-14 12:15] Blackjacx commented on #32
Wow thanks so much for the explanation! This helps already a lot :-)

[2019-11-14 12:15] #32 closed

[2019-11-14 13:12] tomasebrennan opened #33 "xcparse logs does not include logs for App target"
Previously when looking at test failures we were able to view logs for both the Tests target and the app target. So if say we threw an NSLog in our App we could look at our app logs and see if that affected the tests.

Since the move to Xcode 11 and the .xcresult package I haven't been able to find the App logs. This seems to be an issue with xcparse too as when use `xcparse logs` I only get the l

[2019-11-14 19:35] abotkin-cpi commented on #33
@tomasebrennan Thanks for the report & bringing this up!  I'll add the exporting of the Diagnostics folder that you used to get the logs out of into the logs command as part of xcparse 1.1 & that should contain the host log.  It's pretty straight-forward, so expect sometime mid next week.

In the meanwhile, here's a workaround until xcparse 1.1 is out.  Be warned, it's very manual.  If you run the

[2019-11-14 19:40] abotkin-cpi commented on #29
Regardless of Bitrise's plan for Xcode Test, given #33 it seems there is value in this being a separate Bitrise Step as I can't imagine their Xcode Test step may want to extract everything in the xcresult that some folks would want.  Planning to look at this a bit during the Thanksgiving break & get something up first week of December.

[2019-11-20 11:39] Blackjacx opened #34 "[FEATURE] Sort screenshots into language/region-based folders"
Now with the new Testplans we are able to generate one result bundle that includes multiple languages.

It would be nice to be able to have a language based sorting mechanism similar to `device` and `os`.

[2019-11-20 12:33] Blackjacx commented on #34
Oh forget about that! It is already covered by the option `--test-run` which separates by the TestPlan configuration name 👍 (maybe an impractical parameter name ;-))

[2019-11-20 18:44] #33 closed

[2019-11-20 18:55] abotkin-cpi commented on #33
xcparse 2.0.0 now allows for the extraction of the Diagnostics folder with the logs subcommand.

`xcparse logs ./TestResults-iPhoneXRKoreanTestRun.xcresult ./logs`

<img width="1123" alt="screenshots_logs" src="https://user-images.githubusercontent.com/25309848/69268413-ee9b5500-0b83-11ea-9a0f-12a101e2197a.png">

You can update xcparse via:

`brew upgrade xcparse`

Thanks @tomasebrennan for this f

[2019-11-20 20:05] abotkin-cpi commented on #34
Reopening as it may be worthwhile to consider having this separate from test plan configurations since that only support Xcode 11 xcresults forward & I could imagine some folks may want to group screenshots by language & region of the Simulator across test plan configurations due to Dark Mode screenshots or other scenarios where the test plan configuration enables a certain feature in the app for

[2019-11-20 20:43] Blackjacx commented on #34
`--test-plan-config` is long but sweet. That ails it :)

[2019-11-22 00:31] abotkin-cpi commented on #34
This is now resolved in xcparse 2.1.0.  xcparse 2.1.0 introduces new ```--language``` and ```--region``` flags that can be used to divide screenshots & attachments by the test language and/or test region.  Best usage is when you want to group across test plan configurations & so if you only have one configuration per language/region, it may not be preferable to ```--test-plan-config```.  ```-test-

[2019-11-22 00:31] #34 closed

[2019-11-23 01:19] abotkin-cpi commented on #29
A working prototype of [xcparse as a Bitrise step](https://github.com/ChargePoint/bitrise-step-xcparse) is available now.  This prototype will extract everything with no options added & put them into ZIP folders whose paths are available as outputs from the step.  If you want to keep the ZIP folders, you'll want to move them to the Deploy folder and make sure you have the Deploy step after.

To ad

[2019-12-06 22:17] abotkin-cpi commented on #29
The Bitrise step has been updated to allow for much more flexibility from the proof of concept & we've submitted a request to get it merged into the Bitrise Steplib so that it can be easily added from the Bitrise Workflow UI (bitrise-io/bitrise-steplib#2306).

[2019-12-15 22:27] onmyway133 opened #39 "Thanks for the awesome tool"
Hi, this is not a bug report, just want to say huge thank to this tool ❤️
I've started using it in my project, and integrate it in Puma tool https://github.com/pumaswift/Puma/pull/20

[2019-12-16 05:06] abotkin-cpi commented on #39
🎉 Thanks @onmyway133! Always happy to hear from folks using the tool and do feel free to open tickets for anything you’d like to see improved, added, etc!

@rsukumar75

[2019-12-16 05:06] #39 closed

[2019-12-16 22:34] abotkin-cpi commented on #29
Just providing an update - we're still waiting for feedback/review from Bitrise maintainers & this is blocked on the earlier linked PR.

[2019-12-19 19:09] abotkin-cpi commented on #29
As of today, xcparse is now an available step in Bitrise's StepLib & can be added directly in Bitrise.io's Workflow Editor!  See the [README of bitrise-step-xcparse](https://github.com/ChargePoint/bitrise-step-xcparse) for more information.

Let us know in the Issues over in that repo if there's any other features or enhancements you'd like to see & thanks for the feature suggestion @brandtdaniels

[2019-12-19 19:09] #29 closed

[2020-02-06 11:50] Blackjacx opened #40 "xcparse should give better error when xcresult path leads to non-xcresult"
**Describe the bug**
I want to install xcparse using [Mint](https://github.com/yonaskolb/Mint) using the command `mint run ChargePoint/xcparse xcparse screenshots --test-run --model "$results_path" "$screens_path"`

But that doesn't work and gives the following output:
[code]

### OS
![Screen Shot 2020-02-06 at 12 46 22](https://user-images.githubusercontent.com/794372/73934439-b97ae500-48de-11ea-

[2020-02-06 12:17] Blackjacx commented on #40
It actually wasn't an issue. Sorry for opening this ...

[2020-02-06 19:52] abotkin-cpi commented on #40
Don't apologize - always good to open these issues so others can find it if they hit it! As I think you figured out, the xcresult path was likely set to something that wasn't an xcresult (like the tmp folder in the failing command above, if that isn't a redacted version).

This ticket still has a valid point that we should add protections in xcparse to do some basic sanity that the xcresult path a

[2020-02-07 11:25] Blackjacx commented on #40
Yeah this issue also occurs when I run a Homebrew installed xcparse. A sanity check would prevent this - true.

[2020-02-08 15:24] tedgonzalez opened #42 "[question/feature request] Option to remove UUID in the images"
**Describe**
Hi thanks for the awesome tool! I'm just wondering if there's an easy way to remove the UUID from the image filenames?

**Desktop (please complete the following information):**
 - OS: 10.14.6
 - xcparse Version 2.1.0
 - Swift version 5.1.3

[2020-02-08 21:16] abotkin-cpi commented on #42
Not via xcparse right now.  The screenshot file names do follow a standard format so it should be possible to remove the UUIDs from the names (right now we just take the name of the attachment in the xcresult and output as that name which includes the UUID).

It’s a feature we should probably do and allow for some customization of attachment names like I mentioned [here](https://github.com/ChargeP

[2020-05-04 13:45] kamikazekip opened #43 "Add command to export test result (former TestSummaries.plist)"
In the xcresult json output it can be found under actions --> values --> 0 --> actionResult --> testsRef

I would like to be able to also see my unit test results :) and I'm sure other folks would like this as well

[2020-05-05 20:26] SandraNPR commented on #40
I just ran into the same issue. The error was not descriptive enough. Luckily, with this post, I was able to figure out where I went wrong. Thanks!

[2020-05-06 11:07] Blackjacx commented on #40
Glad to hear 🙃

[2020-06-28 17:23] twink1e commented on #42
I also find the UUID a bit unwieldy.
How about renaming the screenshots to reflect the test name that it comes from? It will be easier to debug and track.
e.g. {class_name}_{method_name}_{idx}.{file_type}

If it sounds good I can take up the task

[2020-06-29 13:47] stherold opened #45 "[FeatureRequest] Support new HEIC format of screenshots"
Xcode 12 will generate HEIC images where possible:

[code]

I thought it would be a good idea to point you on this since it might be relevant somehown.

[2020-06-30 23:47] abotkin-cpi commented on #45
Thanks for the ticket! I'll take a look this evening with the beta. xcparse should be using the extract command with the xcresulttool so "xcparse attachments" should always work regardless of file type. For the screenshots command, we use a Uniform Type Identifier filter of "public.image" so as long as HEIF's UTI type is returned by UTTypeConformsTo as conforming to "public.image", it should just

[2020-07-01 17:02] abotkin-cpi commented on #45
Update on this, got a branch up where I've added a unit test to double-check the UTI conformance & confirmed HEIC/HEIF will both conform to "public.image" that the screenshot command uses to filter, so both "screenshots" & "attachments" commands should just work without an update. Haven't been able to create an xcresult that has an HEIC attachment; will play around a bit more but if anyone has an

[2020-07-01 18:01] stherold commented on #45
Nice thanks for being so quick on that topic 👍

[2020-07-05 18:04] abotkin-cpi commented on #45
Closing this as added a test that shows UTI conformance at work & an .xcresult that outputs HEIC from screenshots & attachments commands (key was to turn on localization screenshots in a test plan).

[2020-07-05 18:04] #45 closed

[2020-07-06 00:32] #40 closed

[2020-07-06 01:15] abotkin-cpi commented on #40
This should be addressed in 2.1.1. Thanks for the feedback @Blackjacx & @SandraNPR!

[2020-07-21 00:07] AbhayVarshney commented on #42
@abotkin-cpi this is really great. Is there a timeline for the suggestion for adding this flag "--ordered" so we know which screenshots were taken first?

[2020-07-23 08:05] Sparklydust opened #49 "[feature request] Create a full path to deploy screenshots to App Store Connect"
It would be a good feature if xcparse could deploy to App Store Connect screenshots in every language used within one's Xcode project as well as on every device available via Bitrise.

Can we have documentation on every step that is necessary to accomplish this feature?

Could it be done without using fastlane and avoiding to have more layers in one's project?

[2020-07-27 16:01] abotkin-cpi commented on #42
I'm looking to bring the ordered into xcparse in the next week or so.

With the file naming, I want to make an extensible format string so folks can pick what they want in there rather than hard-defining it & ensure we handle the 255 character limit for filenames & de-duplication resolution. That's likely tied to a major release before iOS 14 launch.

[2020-07-27 16:48] abotkin-cpi opened #50 "Update data structures for xcresult 3.26"
Xcode 12 uses the xcresult format 3.26 (as compared to 3.24 in Xcode 11). We need to update our data structures in order to parse for format changes & additions. Format descriptions for both are attached to this ticket - we should diff the two & add support. We should also ensure we have tests for ensuring we don't hard-require 3.26 only additions and can still work with 3.24 xcresults.

[xcresult

[2020-08-10 17:23] abotkin-cpi commented on #49
@rsukumar-cpi This is the ticket I was talking about, if you want to take this on. xcparse will need to be able to take an argument that passes a fastlane directory (an option for the screenshots command only). From the fastlane directory, should go to the screenshots directory and then follow the advice found in the README.txt fastlane puts there

[code]

Looking in the CP iOS app source repo, yo

[2020-08-26 21:19] OdNairy opened #51 "ActionTestPerformanceMetricSummary parse incorrectly measurements field"
**Describe the bug**
Measurements has no elements in `ActionTestPerformanceMetricSummary` class.

**Desktop (please complete the following information):**
 - OS: 10.15.6 (19G2021)
 - xcparse `2.1.0`. Also tested on latest `master` branch
 - Swift version `5.2.4` (Xcode 11.6 [11E708])
 - XCResult version `3.24`

**To Reproduce**

Steps to reproduce the behavior:
Run sample code over XCResult with p

[2020-08-31 07:24] abotkin-cpi commented on #51
@OdNairy Thanks for the detailed report! Would you be alright with this sample xcresult being included in our test suite?

I've got a possible fix & added your test for this in the branch origin/performance_metrics. Please feel free to take a look; I'll likely add a few more tests around that xcresult if you're fine with it's inclusion in the morning when I'm a little more awake.

[2020-08-31 15:57] OdNairy commented on #51
Yeah, no problem

[2020-09-19 13:53] ryanpato commented on #42
Hey @abotkin-cpi, is the work for ordered still ongoing? Really interested in this one!

[2020-09-29 16:26] Julika-Orekhova commented on #43
Totally agree, UI/unit tests results data is really needed 👍
Such as test class and name, test status (passed/failed), test duration, device name, iOS version

[2020-10-04 18:37] abotkin-cpi commented on #42
We've been a bit distracted recently, but expect to have this rolled up by end of this week.

[2020-10-04 18:45] abotkin-cpi commented on #51
This should now be addressed in 2.1.2. Thanks for the feedback @OdNairy!

[2020-10-04 18:45] #51 closed

[2020-10-08 04:05] abotkin-cpi opened #54 "Homebrew 2.5.3: No available formula or cask with the name "chargepoint/xcparse/xcparse""
If you're seeing the following error:

`No available formula or cask with the name "chargepoint/xcparse/xcparse`

You may be affected by [a Homebrew bug](https://github.com/Homebrew/brew/issues/8830) introduced in Homebrew 2.5.3. Homebrew 2.5.4 [contains a fix for this issue](https://github.com/Homebrew/brew/pull/8875). We suggest that you upgrade Homebrew to 2.5.4 or above.

If you're unable to u

[2020-10-13 23:29] #54 closed

[2020-11-20 15:19] tonyatoms opened #55 "[BUG] Cannot find 'RTLD_DEEPBIND' in scope"
After adding xcparse as a Swift Package, my app fails to compile with this error:
...SourcePackages/checkouts/swift-package-manager/Sources/SPMUtility/dlopen.swift:63:69: Cannot find 'RTLD_DEEPBIND' in scope

**Desktop:**
 - OS:
ProductName:	Mac OS X
ProductVersion:	10.15.6
BuildVersion:	19G73
 - xcparse Version - installed as a package, so not-applicable? Package source is https://github.com/Char

[2020-11-20 19:01] abotkin-cpi commented on #55
Yeah not familiar with this error but I'll take a look this weekend. My first guess would be it is due to how xcparse has defined its dependency on SPM versus what your app has defined its dependency. It's possible xcparse set an exact version dependency for SPM rather than a "at or above" SPM version in our Package.swift & perhaps your dependency on SPM requires a higher version. Would you mind m

[2020-11-20 20:03] tonyatoms commented on #55
We are not using SPM (yet!) for any other packages, so the app has no SPM dependencies other than what I added by attempting to include xcparse. But I did notice that when I added xcparse, the dependency for SPM that Xcode hooked up was in fact set for exactly 0.5.0. I'm not sure how that happened - but I don't recall doing anything specific about it other than what was listed in the docs for xcpa

[2020-11-20 21:56] abotkin-cpi commented on #55
@tonyatoms Any chance you haven't set the platforms in your Package.swift to limit to only macOS? I ask as looking in SPM, [it appears like that flag should only be used when building for a platform that isn't macOS](https://github.com/apple/swift-package-manager/blob/9abcc2260438177cecd7cf5185b144d13e74122b/Sources/SPMUtility/dlopen.swift#L63). That your build is tripping on line 63 seems to impl

[2020-11-21 16:14] tonyatoms commented on #55
I created a Hello World app just to test this issue and I can re-create it there. It is versioned at: https://github.com/tonyatoms/testingParser

There is no Package.swift in this app except the one introduced through the xcparser swift package.

It could be that I'm misunderstanding the purpose of xcparser. It is clear from the documentation here on github that it is a command line utility. But I

[2020-11-21 23:35] abotkin-cpi commented on #55
Yes, building for iOS would explain the error as xcparse & XCParseCore today only support macOS as the build target.

In the blog post, xcparse isn't being added directly to the iOS app; it's used on a macOS command line prompt to extract screenshots from an xcresult file previously created by Xcode's Test step. That Xcode Test step was testing an iOS app in the Simulator & generated the xcresult

[2020-11-22 01:54] tonyatoms commented on #55
Ok that all makes sense. Thanks! An xcresult is saved as a result of fastlane/scan on the Jenkins machine, so for the time being I'll just use xcresulttool on that for now.

[2021-01-14 07:37] kochavi-daniel commented on #43
+1

@abotkin-cpi If you need help with this I'd be happy to help

[2021-01-26 20:02] mattneub commented on #55
I encountered this same error and was helped by this discussion. What I was _hoping_ to do was somehow attach xcparse to my iOS app so that I could run UI tests that take screenshots and then, as the aftermath of the testing, also obtain the screenshots and export them for later handling (because we are required to document our app with a lot of screenshots). I can do this by driving the test with

[2021-04-20 08:24] masumh opened #58 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**Desktop (please complete the following information):**
 - OS: [Run "sw_vers"]
 - xcparse Version [Run "xcparse" to get interactive mode & report version number there]
 - Swift version [Run "swift --version"]
 - XCResult version [Run "xcrun xcresulttool metadata get --path /path/to/xcresult"]

**Crash Report**
Go to Finder

[2021-04-20 08:24] masumh commented on #58
{"export_url":"https://github.com/settings/security-log/export.json?token=6127babc-b98d-4664-8d00-95581e5195c1","job_url":"https://github.com/_jobs/6127babc-b98d-4664-8d00-95581e5195c1"}

[2021-04-20 08:27] masumh opened #59 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**Desktop (please complete the following information):**
 - OS: [Run "sw_vers"]
 - xcparse Version [Run "xcparse" to get interactive mode & report version number there]
 - Swift version [Run "swift --version"]
 - XCResult version [Run "xcrun xcresulttool metadata get --path /path/to/xcresult"]

**Crash Report**
Go to Finder

[2021-04-20 08:28] masumh commented on #59
{"export_url":"https://github.com/settings/security-log/export.json?token=6127babc-b98d-4664-8d00-95581e5195c1","job_url":"https://github.com/_jobs/6127babc-b98d-4664-8d00-95581e5195c1"}

[2021-04-20 08:37] masumh opened #60 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**Desktop (please complete the following information):**
 - OS: [Run "sw_vers"]
 - xcparse Version [Run "xcparse" to get interactive mode & report version number there]
 - Swift version [Run "swift --version"]
 - XCResult version [Run "xcrun xcresulttool metadata get --path /path/to/xcresult"]

**Crash Report**
Go to Finder

[2021-04-20 08:38] masumh commented on #60
![nX4_4_ZSPdg](https://user-images.githubusercontent.com/78326035/115365260-072ef500-a1e6-11eb-9600-3ede1383da93.png)

[2021-04-20 08:40] masumh commented on #60
https://github.com/ChargePoint/xcparse/pull/57#issue-609242851

[2021-04-20 08:40] masumh commented on #60
https://github.com/ChargePoint/xcparse/pull/57#issue-609242851

[2021-04-20 08:40] #60 closed

[2021-04-20 08:52] masumh commented on #59
https://github.com/ChargePoint/xcparse/issues/59#issuecomment-823086671

[2021-04-20 08:52] #59 closed

[2021-04-21 22:48] #58 closed

[2021-05-11 22:07] Blackjacx commented on #45
Our screenshot ZIP now becomes really big. So generating HEIC files comes in handy. Could you please describe in more detail how you managed to get those HEIC representations in the result bundle? Maybe with a screenshot of your testplan?

[2021-05-17 18:03] ccarpita opened #61 "[BUG] `xcparse log` produces repetitive junk data in log output"
**Describe the bug**

When extracting logs, the `action.txt` file produced in the output folder contains lines like this:

[code]

I expect the logs to only contain the emitted logs from xcodebuild, and nothing else.

**Desktop (please complete the following information):**
 - OS: ProductName:	macOS    ProductVersion:	11.2.3  BuildVersion:	20D91
 - xcparse Version: 2.1.0 - Note that I'm using 2.1.

[2021-08-03 12:03] bboyle18 opened #62 "[BUG] Xcparse not installing with Xcode 13.0 Beta 4"
**Describe the bug**
Xcparse is failing to install when Xcode 13.0 Beta 4 is installed.
[code]

**Desktop (please complete the following information):**
 - OS: MacOS1 1.5.1
 - xcparse Version 2.1.2
 - Swift version 5.5

**Crash Report**
[code]

**To Reproduce**
Run `brew install chargepoint/xcparse/xcparse` to install xcparse with Xcode 13.0 Beta 4 installed.

**Expected behavior**
Xcparse should

[2021-08-04 17:37] peterbetos commented on #62
Good catch on pointing this out. Good thing Bitrise was able to show the error. Since Xcode 13 is near, this will be needed.

[2021-08-16 00:56] #50 closed

[2021-08-16 00:58] abotkin-cpi commented on #62
@bboyle18 Thanks for pointing this out; we haven't switched to an iOS 15 workflow yet and so hadn't gotten to this.

@rsukumar-cpi I'm going to take a look but if it's more involved, may end up assigning to you now that you're full-time.

[2021-08-16 02:25] abotkin-cpi commented on #62
This will be addressed by #63. Will release that in the next day or so.

[2021-08-16 02:28] abotkin-cpi opened #64 "Add support for xcresult v3.34"
Add support for xcresult v3.34 version

New Objects

- ActionTestConfiguration
- ActionTestExpectedFailure
- ActionTestRepetitionPolicySummary

Existing Objects w/ new properties
- ActionTestActivitySummary
- ActionTestAttachment
- ActionTestPerformanceMetricSummary
- ActionTestSummary

[2021-08-16 23:27] #62 closed

[2021-08-17 16:04] abotkin-cpi commented on #64
Address with #65

[2021-08-17 16:04] #64 closed

[2021-08-17 16:26] abotkin-cpi opened #66 "Xcode-beta: Your Command Line Tools are too outdated."
If you're using Xcode-beta, you may hit issues during the Homebrew install that look like the following:

[code]

If you experience this, the suggestion at the bottom should resolve the issue (so long as you've updated the xcode-select path to point at Xcode-beta:

[code]

You'll then see some UI that will install the command line tools again. Then if you run the command again after that succeeds,

[2021-08-17 16:26] #66 closed

[2021-08-17 17:26] nachocual opened #67 "[BUG] `xcparse` not working with Swift 5.4"
**Describe the bug**
The latest version of `xcparse`, 2.2, doesn't work with Swift 5.4

**Desktop**
 - OS: macOS 11.5
 - xcparse version: 2.2
 - Swift version 5.4.2

**To Reproduce**
1. Install the latest version of xcparse using Homebrew.
2. Run it.
4. See error:
[code]

[2021-08-17 17:39] nachocual commented on #67
I might be completely off, but you might need to change `SwiftToolsSupport` to `SwiftToolsSupport-auto` in  you package definition from what I saw [here](https://developer.apple.com/forums/thread/655937).

[2021-08-17 18:55] andrewclaus commented on #67
Also seeing this same issue, started after the 2.2 release was created a few hours ago.

[2021-08-17 19:27] abotkin-cpi commented on #67
Yep, making the fix now; really need to get this put on the new CI/CD we have.

[2021-08-17 19:37] abotkin-cpi commented on #67
This should be resolved with v2.2.1. Thanks @nachocual for the details!

[2021-08-17 19:37] #67 closed

[2021-08-17 19:43] abotkin-cpi opened #68 "Set up CI system to replicate Homebrew installation on multiple toolchains"
As exhibited by the issues with Xcode 13 & #67, we need to update our CI setup so that we're directly replicating a Homebrew installation as part of the commit checks (and ensure all PRs auto run this & require the check to pass). We should additionally ensure it tries a command or two to ensure no runtime errors.

[2021-08-17 21:56] abotkin-cpi commented on #62
This is resolved in v2.2.1.

[2021-08-18 08:10] nachocual commented on #67
Thanks for fixing it that quickly!

[2021-11-01 20:17] namolnad opened #69 "Provide binary as part of releases"
It'd be great to have a compiled binary uploaded to the GitHub release to give people an easy (non-homebrew) way to install/give it a try. _My company/team uses a tools installer based on GitHub releases, so it would be particularly helpful to us :)_

Thanks!

[2021-11-02 04:42] abotkin-cpi commented on #69
@rsukumar-cpi Seems like something we could investigate next sprint; mind writing up a ticket in our internal tracking?

[2021-11-29 14:01] Blackjacx opened #70 "[QUESTION]"
Hey there,

first of all thank you for this awesome tool!

I wanted to ask you, how you update your [homebrew formula/tap](https://github.com/ChargePoint/homebrew-xcparse/blob/master/Formula/xcparse.rb) whenever you create a new release? Does this happen automatically or manually?

**Background:** In [my own project](https://github.com/Blackjacx/Assist) I want to do that automatically but cannot f

[2021-12-02 13:35] MartinMajewski opened #71 "[QUESTION] How to find xcresult and read it without knowing the exact filename - like using RegEx or such?"
Hi there,

I love your project but somehow, the usage is not feasible in the XCode environment currently provided by Apple.
Why? Let me explain:

I want to read out attachments of the xcresult file and store it elsewhere for easier access. Moreover, I have to do this in Azure Pipelines, where I do not have lasting access to the worker instance, as it is destroyed after everything is finished. So I

[2021-12-15 23:40] abotkin-cpi commented on #70
Currently we are doing it manually. In this repo we are tagging the commit version & then putting a commit on the formula in its repo that just updates the tag. It certainly could be automated, but we haven't done it yet since it would involve scoping a GitHub access that has read/write permissions to both repos but none of our other corporate ones.

[2021-12-15 23:52] abotkin-cpi commented on #71
Yeah, the tutorials may often skip this as several commonly used CI systems will simplify this by giving you an environment variable that gives you the xcresult path from your Xcode run (Bitrise, which we use, does this) or allows you to specify where you want the file (like fastlane).

Apple talked a bit about how to do this in [WWDC 2019](https://devstreaming-cdn.apple.com/videos/wwdc/2019/413kp

[2021-12-16 14:23] stherold commented on #70
Okay thx 👍

[2021-12-16 15:03] MartinMajewski commented on #71
Thank you very much for the reply.

Yes, the Xcode@5 task has no native input parameter for setting the resultBundlePath. However, it can be set anyways within the ```args``` parameter, like this:

[code]

Note: This example above is a stripped-down version to hide some sensible project information.

With this, I altered the path to the xcresults file, which I could then retrieve with the ```Publi

[2021-12-16 16:13] abotkin-cpi commented on #71
Awesome to hear you found a solution & thanks for sharing it here for other future folks! I'm going to go ahead and close this issue since it sounds like you're all set.

[2021-12-16 16:13] #71 closed

[2022-10-24 13:25] endanke opened #77 "[Feature request] Linux support"
Having support for Linux would be useful to parse tests on a separate machine after aggregating test results.

I've tried using Xcparse on Ubuntu, almost everything seems to build fine except for some missing imports and the missing support for `UTTypeConformsTo`. You can find a WIP commit in my fork which builds, but I had to  comment out some of the attachment filters: https://github.com/endanke

[2022-10-25 06:54] endanke commented on #77
After some testing I noticed it might not be possible to get it working on Linux in it's current state, as it depends on the xcode toolchain: https://github.com/ChargePoint/xcparse/blob/61bfe78c55e2e0fc2bc3d3d49add3dbd3829a56b/Sources/XCParseCore/XCResultToolCommand.swift#L13

Feel free to close this ticket, unless you have other suggestions.